.title {
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.span {
  font-style: italic;
  color: var(--main-button);
}

.info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  width: 500px;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 125px;
  padding: 78px 60px 0px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  width: 595px;
}

.link {
  display: inline-flex;
  gap: 18px;
  border-radius: 30px;
  padding: 18px 50px;
  width: 236px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--main-white);
  background-color: var(--main-button);
}

.wrapperPhoto {
  position: relative;
}

.img {
  width: 464px;
  height: auto;
}

.detail1,
.detail2,
.rectangle {
  position: absolute;
}

.rectangle {
  top: 75%;
  left: 12%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background-color: var(--main-button);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: var(--main-white);
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.about {
  font-weight: 400;
  font-size: 13px;
  color: rgba(251, 251, 251, 0.5);
}

.quantity {
  font-weight: 700;
  font-size: 24px;
  color: var(--main-white);
}
.detail1 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #4535af;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(-50%, -50%) rotate(-15deg);
}

.svg1 {
  transform: rotate(15deg);
}

.detail2 {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: #fbc75e;
  transform: rotate(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14%;
  left: 103%;
  transform: translate(-50%, -50%) rotate(15deg);
}

.svg2 {
  transform: rotate(-15deg);
}

@media (max-width: 1330px) {
  .wrapper {
    gap: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 60px;
  }

  .title {
    font-size: 70px;
  }

  .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    width: 450px;
  }

  .link {
    gap: 12px;
    width: 180px;
    border-radius: 30px;
    padding: 14px 30px;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .rectangle {
    border-radius: 15px;
    width: 250px;
    height: 90px;
    gap: 16px;
    padding: 22px;
  }

  .square {
    border-radius: 13px;
    width: 40px;
    height: 40px;
  }

  .about {
    font-size: 11px;
  }

  .quantity {
    font-weight: 600;
    font-size: 20px;
  }
}

@media (max-width: 1040px) {
  .rectangle {
    border-radius: 15px;
    width: 190px;
    height: 80px;
    padding: 10px;
  }

  .square {
    display: none;
  }

  .about {
    font-size: 12px;
  }

  .quantity {
    font-weight: 500;
    font-size: 18px;
  }

  .info {
    width: 350px;
  }

  .detailWrapper {
    align-items: center;
    gap: 5px;
  }
}
