.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  padding-top: 78px;
  padding-bottom: 78px;
}

.title {
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.span {
  font-style: italic;
  color: var(--main-button);
}

.info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  width: 510px;
  margin-bottom: 40px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  width: 595px;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  padding: 18px 50px;
  width: 236px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--main-white);
  background-color: var(--main-button);
}

.wrapperPhoto {
  position: relative;
  max-width: 464px;
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detail1,
.detail2,
.rectangle {
  position: absolute;
}

.rectangle {
  top: 75%;
  left: 12%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background-color: var(--main-button);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: var(--main-white);
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.about {
  font-weight: 400;
  font-size: 13px;
  color: rgba(251, 251, 251, 0.5);
}

.quantity {
  font-weight: 700;
  font-size: 24px;
  color: var(--main-white);
}
.detail1 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #4535af;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(-50%, -50%) rotate(-15deg);
}

.svg1 {
  transform: rotate(15deg);
}

.detail2 {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: #fbc75e;
  transform: rotate(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14%;
  left: 103%;
  transform: translate(-50%, -50%) rotate(15deg);
}

.svg2 {
  transform: rotate(-15deg);
}

@media (max-width: 1400px) {
  .wrapper {
    gap: 80px;
  }
}

@media (max-width: 1280px) {
  .wrapperInfo {
    width: 400px;
  }
  .wrapperPhoto {
    width: 340px;
  }
  .rectangle {
    display: none;
  }

  .title {
    font-weight: 600;
    font-size: 68px;
    margin-bottom: 14px;
  }

  .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    gap: 30px;
  }
  .title {
    font-size: 60px;
    width: 100%;
  }

  .info {
    font-weight: 500;
    font-size: 16px;
  }

  .link {
    gap: 12px;
    width: 180px;
    border-radius: 30px;
    padding: 14px 30px;
    font-size: 18px;
  }
}
@media (max-width: 920px) {
  .wrapperInfo {
    width: 300px;
  }

  .title {
    font-size: 40px;
  }

  .info {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .wrapperPhoto {
    width: 300px;
  }

  .wrapperInfo {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column-reverse;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wrapperPhoto {
    width: 350px;
  }

  .wrapperInfo {
    width: 400px;
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .info {
    text-align: center;
  }
}

@media (max-width: 470px) {
  .wrapper {
    gap: 30px;
  }
  .wrapperPhoto {
    width: 300px;
  }

  .wrapperInfo {
    width: 300px;
  }

  .title {
    font-size: 26;
  }

  .info {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    gap: 20px;
  }
  .wrapperPhoto {
    width: 250px;
  }

  .wrapperInfo {
    width: 250px;
  }

  .title {
    font-weight: 600;
    font-size: 16;
  }

  .info {
    font-size: 12px;
  }

  .link {
    gap: 10px;
    width: 140px;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 14px;
  }
}
