.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  width: 100%;
  border-bottom: 1px solid rgba(25, 26, 21, 0.2);
}

.wrapper {
  display: flex;
  gap: 130px;
  align-items: center;
}

.navPage {
  display: flex;
  gap: 40px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.navUser {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.logo {
  color: var(--main-black);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.span {
  color: var(--main-button);
}

.link {
  position: relative;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--main-button);
  border-radius: 50%;
}

.userWrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.userLink {
  display: inline-block;
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  padding: 14px 39px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #191a15;
}

.userActive {
  border: none;
  color: var(--main-white);
  background-color: var(--main-button);
}

.username {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
}

.iconWrapper {
  background-color: var(--main-button);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .header {
    padding: 24px 70px;
  }

  .wrapper {
    gap: 110px;
  }

  .logo {
    font-weight: 600;
    font-size: 16px;
  }

  .link {
    font-size: 14px;
  }

  .userLink {
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 14px;
  }

  .username {
    gap: 8px;
    font-size: 12px;
  }
  .iconWrapper {
    border-radius: 6px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 990px) {
  .header {
    padding: 24px 40px;
  }

  .wrapper {
    gap: 70px;
  }

  .navPage {
    gap: 20px;
  }
  .userWrapper {
    gap: 15px;
  }
}

@media (max-width: 790px) {
  .wrapper {
    gap: 100px;
  }

  .navPage {
    flex-direction: column;
    gap: 8px;
  }

  .active::after {
    left: -12%;
    top: 6px;
    transform: translateX(-50%);
  }

  .navUser {
    flex-direction: column;
    gap: 8px;
  }

  .userWrapper {
    flex-direction: column;
    gap: 10px;
  }
  .iconWrapper {
    border-radius: 6px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 670px) {
  .wrapper {
    gap: 100px;
  }

  .navPage {
    flex-direction: column;
    gap: 10px;
  }

  .active::after {
    left: -12%;
    top: 6px;
    transform: translateX(-50%);
  }
}
@media (max-width: 670px) {
  .header {
    padding: 24px 20px;
  }

  .wrapper {
    gap: 80px;
  }
}

@media (max-width: 510px) {
  .header {
    padding: 24px 20px;
  }

  .wrapper {
    gap: 50px;
  }
}
